<mat-toolbar color="warn">
	<mat-toolbar-row>
		<button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" color="primary">
			<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
		</button>
	</mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="example-container">
	<mat-sidenav #drawer mode="side" opened role="navigation">
		<mat-nav-list>
			<mat-toolbar>Invoice</mat-toolbar>
			<mat-toolbar-row>
				<a [routerLink]="['/invoice/create']">Create Invoice</a>
			</mat-toolbar-row>
			<mat-toolbar-row>
				<a [routerLink]="['/invoice/manage']">Manage Invoice</a>
			</mat-toolbar-row>
			<mat-toolbar>Creators</mat-toolbar>
			<mat-toolbar-row>
				<a [routerLink]="['/user/create']">Add a Creator</a>
			</mat-toolbar-row>
			<mat-toolbar-row>
				<a [routerLink]="['/user/manage']">Manage Creators</a>
			</mat-toolbar-row>
		</mat-nav-list>
	</mat-sidenav>
</mat-sidenav-container>